<div id="<%= dom_id post %>">
  <p class="color text-light">
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p class="color text-light">
    <strong>Content:</strong>
    <%= post.content %>
  </p>

</div>
